#title{
    background-color: aliceblue;
    color: rgba(243, 240, 244, 0.556);
}
.namepv a{
    text-decoration: none;
    color: aliceblue;
    font-size: 35px;
}
.namepv a:hover{
    background-color: rgb(49, 126, 194);
    border-radius: 25%;
}
#Menu ol{
   color: aliceblue;
}
#Menu a{
    text-decoration: none;
    color: azure;
}
.menu p{
    color: azure;
    text-align: center;
    font-size: 20px;
}
#Menu a:hover{
    background-color: rgb(49, 126, 194);
    border-radius: 25%;
}
#footage{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}